 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock title %}</title>
</head>
<body>
    <div class="bkimg">
        <div class="container">
            <div class="navbar navbar-expand-lg navbar-light bg-light">

                {% if request.user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'logout_page' %}">LOGOUT</a>
                {% else %}
                
                <a class="nav-item nav-link" href="{% url 'customers:signup_page' %}">SIGNUP</a>
                <a class="nav-item nav-link" href="{% url 'customers:login_page' %}">LOGIN</a>
                
                {% endif %}

                <a class="nav-item nav-link" href="{% url 'customers:track_order' %}"> Track Order</a>
                <a class="nav-item nav-link" href="{% url 'customers:cart_list' %}"> Cart: {{ request.session.cart_items|length }}</a>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}  <h1> Welcome {{user}}</h1> {% endblock content %}
    </div>
    
</body>

</html>