{% extends 'customers/base.html'%}


{% block content %}
<h3> YOUR ORDER {{ user }} </h3>

<div class="container">
    <div class="row">
        <div class="col col-sm-4">
            <table class= "table table-bordered">
                <th>
                    <tr>
                        <td><h3>Name</h3></td>
                        <td><h3>Quantity</h3></td>
                        <td><h3>Price</h3></td>
                        <td><h3>Sub total</h3></td>
                        <td><h3></h3></td>

                    </tr>
                </th>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.qty}}</td>
                        <td>${{item.price}}</td>
                        <td>${{item.sub_total}}</td>
                        <td>
                            <a href="{% url 'customers:remove_item' pk=item.item_id %}"
                             onclick="return confirm('Are you sure you want to remove this item?');">Remove</a>
                             | <a href="{% url 'customers:food_detail' pk=item.item_id %}?update=true">Edit</a>
                            </td>
                        
                    </tr>

                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>TOTAL</b></td>
                        <td><b>${{total}}</b></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'customers:clear_items' %}" 
            onclick="return confirm('Are you sure you want to clear the Cart?');">Clear Cart</a>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'customers:checkout' %}" class="btn btn-success">Checkout</a>
        </div>
    </div>
</div>

{% endblock %}


{% block title %}
List of Meals
{% endblock %}