{% extends "customers/base.html" %}

{% block content %}

<div class="row">
    <div class="col col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 ">
        <form method="post">
            {% csrf_token %}
            <h2>Customer's Delivery Info</h2>
            <div class="form-row">
                <label>Email Address</label>
                <input type="email" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" />
                {% if form.email.errors %}
                <span style="color: red;">{{ form.email.errors }} </span>
                {% endif %}
            </div>
        
            <div>
                <label>First Name</label>
                <input type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default:'' }}" />
                {% if form.first_name.errors %}
                <span style="color: red;">{{ form.first_name.errors }} </span>
                {% endif %}
            </div>
        
            <div>
                <label>Last Name</label>
                <input type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default:'' }}" />
                {% if form.last_name.errors %}
                <span style="color: red;">{{ form.last_name.errors }} </span>
                {% endif %}
            </div>

            <div>
                <label>Pickup/Delivery</label>
                <select name="delivery_type" id="delivery_type">
                    <option value="">Select an option</option>
                    <option value="delivery">Delivery</option>
                    <option value="pickup">Pickup</option>
                </select>
                {% if form.delivery_type.errors %}
                <span style="color: red;">{{ form.delivery_type.errors }} </span>
                {% endif %}
            </div>

            
        
            <div>
                <label>Address</label>
                <textarea type="text" name="{{ form.address.name }}" value="{{ form.address.value|default:'' }}" ></textarea>
                {% if form.address.errors %}
                <span style="color: red;">{{ form.address.errors }} </span>
                {% endif %}
            </div>

            <hr>

            <h2>Payment information</h2>

            <div>
                <label>Card Name</label>
                <input type="text" name="{{ form.card_name.name }}" value="{{ form.card_name.value|default:'' }}" />
                {% if form.card_name.errors %}
                <span style="color: red;">{{ form.card_name.errors }} </span>
                {% endif %}
            </div>

            <div>
                <label>Card Number</label>
                <input type="text" name="{{ form.card_number.name }}" value="{{ form.card_number.value|default:'' }}" />
                {% if form.card_number.errors %}
                <span style="color: red;">{{ form.card_number.errors }} </span>
                {% endif %}
            </div>

            <div>
                <label>CVV Number</label>
                <input type="text" name="{{ form.cvv_number.name }}" value="{{ form.cvv_number.value|default:'' }}" />
                {% if form.cvv_number.errors %}
                <span style="color: red;">{{ form.cvv_number.errors }} </span>
                {% endif %}
            </div>

            <div>
                <label>Expiration Date</label>
                <input type="date" name="{{ form.expiration_date.name }}" value="{{ form.expiration_date.value|default:'' }}" />
                {% if form.expiration_date.errors %}
                <span style="color: red;">{{ form.expiration_date.errors }} </span>
                {% endif %}
            </div>

        
            <input type="submit" value="CheckOut" class="btn btn-primary">
        </form>
    </div>
    
</div>

{% endblock content %}
