{% extends "customers/base.html" %}

{% block content %}

<div class="row">
    <div class="col col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 ">
        <img src="/media/{{food.image}}" alt="{{food.name}}" style="width: 100%;" />
    </div>
    <div class="col col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 ">
        <h4>{{food.name}}</h4>
        <h5>${{food.price}}</h5>
        <form method="POST">
            {% csrf_token %}
            <label>Quatity</label>
            <input type="number" value="1" name="quantity" />
            <input type="hidden" value="{{food.name}}" name="name">
            <input type="number" value="{{food.price}}" name="price">
            {% if request.GET.update %}
            <button>Update cart</button>
            {% else %}
            <button>Add to cart</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock content %}