{% extends 'customers/base.html'%}


{% block content %}
<div class="container">
<!-- <h3 class="text-center"> YOUR ORDER {{ user }} </h3> -->

<!-- <nav class="navbar navbar-light bg-light">
    <div class="container">
        <form class="form-inline mx-auto" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search"
                name="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->
<div class="jumbotron bg-light">
    <h1 class="display-4">Hello, {{user}}!</h1>
    <p class="lead">What would you like to eat today?</p>
    <hr class="my-4">
    <p class="mt-2">
        <form class="form-inline justify-content-center" method="get">
            <input class="form-control mr-sm-2 col-6" type="search" placeholder="Search by name" aria-label="Search"
                name="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </p>
  </div>
<!-- <form action="" method="get">
    <input type="search" name="search" id="" placeholder="search by name">
    <button type="submit">SEARCH</button>
</form> -->

<!-- <table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Calories</th>
            <th scope="col">Price ($)</th>
        </tr>
    </thead>
    <tbody> -->

    <div class="row">
        {% for food in menu %}
        <div class="col col-sm-3">
            <div class="card mb-4" style="">
                <img class="card-img-top" src="/media/{{food.image}}" height="130" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{food.name}}</h5>
                    <p class="card-text">{{food.category}}   {{food.calories}}cal </p>
                    <p class="card-text">
                    <h4>${{food.price}}</h4>
                    </p>
                    <a href="{% url 'customers:food_detail' pk=food.id %}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>

            <!-- 

            
            <td><img src="/media/{{food.image}}" width="60" /> </td>
            <td>{{food.name}}</td>
            <td>{{food.category}}</td>
            <td>{{food.calories}} </td>
            <td>{{food.price}}</td> -->


        </div>
        {% endfor %}
    </div>
<!-- </tbody>
</table> -->
</div>
{% endblock %}


{% block title %}
List of Meals
{% endblock %}