
{% extends 'customers/base.html' %}

{% block content %}
<div class="row">
    <div class="col col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 ">
        your order has been placed. Relax while we deliver it to you.
    </div>
    <div class="col col-sm-10 offset-sm-1 col-lg-4 offset-lg-4 ">
        click <a href="{% url 'customers:menu_list' %}">here</a> to go to the menu listing page
    </div>
</div>
{% endblock %}



