
{% extends 'customers/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <div class="form-row">
        <label>Email Address</label>
        <input type="email" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" />
        {% if form.email.errors %}
        <span style="color: red;">{{ form.email.errors }} </span>
        {% endif %}
    </div>

    <div>
        <label>First Name</label>
        <input type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default:'' }}" />
        {% if form.first_name.errors %}
        <span style="color: red;">{{ form.first_name.errors }} </span>
        {% endif %}
    </div>

    <div>
        <label>Last Name</label>
        <input type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default:'' }}" />
        {% if form.last_name.errors %}
        <span style="color: red;">{{ form.last_name.errors }} </span>
        {% endif %}
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="{{ form.password.name }}" value="{{ form.password.value|default:'' }}" />
        {% if form.password.errors %}
        <span style="color: red;">{{ form.password.errors }} </span>
        {% endif %}
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="{{ form.confirm_password.name }}" class="form-control"
            value="{{ form.confirm_password.value|default:'' }}" />
        {% if form.confirm_password.errors %}
        <span style="color: red;">{{ form.confirm_password.errors }} </span>
        {% endif %}
    </div>

    <input type="submit" value="Sign up" class="btn btn-primary">
</form>
{% endblock %}

{% block title %}
sign up
{% endblock %}