
{% extends 'customers/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="GET">
                <div class="form-group">
                    <label>Tracking Number</label>
                    <input class="form-control" type="number" name="tracking_number" value="{{ tracking_number|default:'' }}" />
                    {% if errors %}
                    <span style="color: red;">{{ errors }} </span>
                    {% endif %}
                </div>
            
                <input type="submit" value="Track Order" class="btn btn-primary">
            </form>
        </div>
    </div>
    {% if order %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul>
                <li>Name: {{order.first_name}}</li>
                <li>Email: {{order.email}}</li>
                <li>Address: {{order.address}}</li>
                <li>Status: {{order.status}}</li>
                <li>Order Items:
                    <ol>
                        {% for item in order.order_item.all %}
                            <li>Name: {{item.meal.name}} Quantity: {{item.quantity}}</li>
                        {% endfor %}
                    </ol>
                </li> 
            </ul>
        </div> 
    </div>
    {% endif %}
</div>
{% endblock %}

{% block title %}
sign up
{% endblock %}