{% extends 'layout.html'%}

{% block title %}
food registration
{% endblock %}

{% block content %}
<h4 style="text-align: center;"> please register a new meal item {{ user }} </h4>
<form action="{% url 'createmenu_page' %}" method="POST" id="foods" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="md-form">
                <label for="name">Name</label>
                <input name="name" placeholder="name" id="name" class="form-control">
            </div>
            <div class="md-form">
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control">

                    <option></option>
                    <option>Breakfast</option>
                    <option>Lunch</option>
                    <option>Supper</option>

                </select>
            </div>
            <div class="md-form">
                <label for="image">Image :</label>
                <input name="image" id="image" type="file" accept="image/*" class="form-control">
            </div>
            <div class="md-form">
                <label for="calories">Calories</label>
                <input name="calories" placeholder="Calories" id="calories" type="calories" class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input name="price" placeholder="price" id="price" type="price" class="form-control">
            </div>
            <button class="btn btn-outline-primary">Key In</button>
        </div>
    </div>

</form>
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link" href="{% url 'menu_list' %}">BACK TO LIST</a>
</div>


{% endblock %}