<!-- {% extends 'layout.html'%}


{% block content %}
<h1> Here is the menu list {{ user }} </h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Calories</th>
            <th>Price ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for food in menu %}
        <tr>
            <td><img src="/media/{{food.image}}" width="60"/> </td>
            <td>{{food.name}}</td>
            <td>{{food.category}}</td>
            <td>{{food.calories}} </td>
            <td>{{food.price}}</td>
            <td><button method='POST'  action='delete'>Delete</button></td>
            
            


        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'createmenu_page' %}">CREATE NEW</a> <a href="{% url 'menu_list' %}"> MENU LIST</a>
{% endblock %}

{% block title %}
delete Meals
{% endblock %} -->