{% extends 'layout.html'%}

{% block title %}
food Editing
{% endblock %}

{% block content %}
<h4 style="text-align: center;"> please edit your meal item {{ user }} </h4>
{% if food %}
<form action="{% url 'edit_page' pk=food.id %}" method="POST" id="foods" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-4">

            <div>
                <label for="name">Name</label>
                <input name="name" placeholder="name" id="name" value="{{food.name}}" class="form-control">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category" class="form-control">

                    <option></option>
                    <option value="Breakfast" {% ifequal "Breakfast" food.category %}selected{% endifequal %}>Breakfast
                    </option>
                    <option value="Lunch" {% ifequal "Lunch" food.category %}selected{% endifequal %}>Lunch</option>
                    <option value="Supper" {% ifequal "Supper" food.category %}selected{% endifequal %}>Supper</option>

                </select>
            </div>
            <div>
                <label for="image">Image :</label>
                <input name="image" id="image" type="file" accept="image/*" value="{{food.image}}" class="form-control">
            </div>
            <div>
                <label for="calories">Calories</label>
                <input name="calories" placeholder="Calories" id="calories" type="calories" value="{{food.calories}}"
                    class="form-control">
            </div>
            <div>
                <label for="price">Price</label>
                <input name="price" placeholder="price" id="price" type="price" value="{{food.price}}"
                    class="form-control">
            </div>
            <button class="btn btn-outline-primary">Update</button>
        </div>
    </div>


</form>
{% else %}
<p style="color: red;text-align:center"> Cantfind a matching product, kindly enter another food item </p>
{% endif %}


<div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-item nav-link" href="{% url 'menu_list' %}">BACK TO LIST</a>
</div>


{% endblock %}