

{% extends "layout.html" %}

{% block title %}
    Welcome to shawasty foods!!
{% endblock title %}

{% block content %}
    <h3></h3>
    <div class="customer">
        <p>Customer Login <a class="nav-item nav-link" href="{% url 'customers:menu_list' %}">CUSTOMERS PORTAL</a></p>
    </div>
{% endblock%}