 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock title %}</title>
</head>
<body>
    <div class="bkimg">
        <div class="container">
            <div class="navbar navbar-expand-lg navbar-light bg-light">

                {% if request.user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'logout_page' %}">LOGOUT</a>
                    <a class="nav-item nav-link" href="{% url 'orders' %}">ORDERS</a>
                    <a class="nav-item nav-link" href="{% url 'createmenu_page' %}">CREATE MENU</a>
                {% else %}
                
                <a class="nav-item nav-link" href="{% url 'signup_page' %}">SIGNUP</a>
                <a class="nav-item nav-link" href="{% url 'login_page' %}">LOGIN</a>
                
                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}  <h1> Welcome {{user}}</h1> {% endblock content %}
    </div>
    
</body>
<script>
$(document).ready(function(){
    $('.dropdown-toggle').dropdown()
})
</script>

</html>