{% extends 'layout.html'%}


{% block content %}
<div class="container">
<h1> Here is the menu list {{ user }} </h1>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search" name="search" >
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<!-- <form action="" method="get">
    <input type="search" name="search" id="" placeholder="search by name">
    <button type="submit">SEARCH</button>
</form> -->

<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Calories</th>
            <th scope="col">Price ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for food in menu %}
        <tr>
            <td><img src="/media/{{food.image}}" width="60" /> </td>
            <td>{{food.name}}</td>
            <td>{{food.category}}</td>
            <td>{{food.calories}} </td>
            <td>{{food.price}}</td>
            <td><button class="btn btn-outline-primary"><a href="{% url 'edit_page' pk=food.id %}">EDIT</a></button></td>
            <td><button class="btn btn-outline-danger my-2 my-sm-0"  ><a href="{% url 'delete_page' pk=food.id %}"
                        onclick="return confirm('Are you sure you want to delete this item?');">DELETE</a>
            </button></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="nav-item nav-link" href="{% url 'createmenu_page' %}">CREATE NEW</a>
{% if request.GET.search %} <a class="nav-item nav-link" href="{% url 'menu_list' %}">SHOW MENU LIST</a> {% endif %}
</div>
{% endblock %}

{% block title %}
Registered Meals
{% endblock %}