{% extends 'layout.html'%}


{% block content %}
<div class="container">
    {% if message %}
    {{message}}
    {% endif %}
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for order in order.order_item.all %}
        <tr>
            <td>{{order.meal.name}}</td>
            <td>{{order.quantity}}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<p>Status: {{order.status}}</p>
<a href="{% url 'update_order_status' pk=order.id %}?status=processing" class="btn btn-primary">Update to pending</a>
<a href="{% url 'update_order_status' pk=order.id %}?status=ready" class="btn btn-secondary">Update to Ready</a>
</div>
{% endblock %}

{% block title %}
Registered Meals
{% endblock %}