{% extends 'layout.html'%}


{% block content %}
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Amount ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.first_name}}</td>
            <td>{{order.address}} </td>
            <td>{{order.total}}</td>
            <td><button class="btn btn-outline-primary"><a href="{% url 'order_detail' pk=order.id %}">DETAIL</a></button></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block title %}
Registered Meals
{% endblock %}