{% extends 'layout.html'%}

{% block title %}
food registration
{% endblock %}

{% block content %}
<h4 style="text-align: center;"> Welcome {{ user }} </h4>
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="{% url 'createmenu_page' %}">CREATE MENU</a>
    <a class="nav-item nav-link" href="{% url 'menu_list' %}"> MENU LIST</a>
</nav>


{% endblock %}